[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pathlib2 = "*"
pytest = "*"
pytest-pycharm = "*"
tox = "*"
behave = "*"

[packages]
pyyaml = "*"
click = "*"
typing = "*"

[requires]
python_version = "3.6"
